<div class="row">
<!-- model.post didn't work - only one object/model, so no need to specify "model.post" -->
  {{#each model as |post|}}
    <div class="col-md-12">
      {{post-tile post=post destroyPost="destroyPost"}}
    </div>
  {{/each}}
</div>

<div class="container">
  <button><a id="new-post" href="/new-post">Add a new blog post</a></button>
</div>
